SPRING_DATASOURCE_URL=jdbc:postgresql://10.0.4.96:5432/smartlogix
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=CHANGE_ME
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect



ADMIN_EMAIL=admin@example.com
ADMIN_EMAIL_2=admin@example.com
CASHFLOW_UNIT_VALUE=12.5

GOOGLE_MAPS_API_KEY=CHANGE_ME

GOOGLE_CLIENT_ID=CHANGE_ME
GOOGLE_CLIENT_SECRET=CHANGE_ME